<!Doctype html>
<html>
<head>
	<script src="/Users/aprajitajain/Javascript-Project/Angular_practice/Script_file/angular.js"></script>
	<script src="/Users/aprajitajain/Javascript-Project/Angular_practice/Script_file/script.js"></script>
</head>
<body ng-app="myModule" style="font-family:Arial">
    <div>
    	{{10===20}}
    </div>
    <div>
    	10+20={{10+20}}
    </div>
    <div>
    	{{ {name: 'David', age: '30'}.name }}
    </div>
    <div>
    	{{ ['David', 'Sara', 'App'][1] }}

    </div>
    <div ng-controller="myController">
    <!-- <div>
    	{{message}}	
    </div> -->
    <div>
    	First Name:{{ employee.firstName }}
    </div>
    <div>
    	Last Name: {{ employee.lastName }}
    </div>
    <div>
    	Gender: {{employee.gender}}
    </div>
    <div>
        Name: {{country.name}}
    </div>
    <div>
        Capital: {{country.capital}}
    </div>
    <!-- <div>
        <img src="{{country.flag}}" alt"{{country.name+ 'Flag'}}" style="height:100px; w
        idth:200px" />
    </div> -->

    <!-- we use ng-mode directive -->
    <input type = "text" ng-model ="message">
    <br /><br />
    {{message}}

    <!-- we use ng-repeat and ng-init directive -->

<table>
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Gender</th>
            <th>Salary</th>
       </tr>
    </thead>
    <tbody>
        <tr ng-repeat="employee in employees">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.salary}}</td>
        </tr>
    </tbody>
</table>
<ul>
    <li ng-repeat="country in countries" ng-init="parentIndex=$index">
        {{country.name}} - Index={{$index}}
        <ul>
            <li ng-repeat="city in country.cities">
                {{city.name}} - Parent Index = {{parentIndex}}, Index={{$index}}
            </li>
        </ul>
    </li>
</ul>

</div>
</body>

</html>